Flask
flask-swagger-ui
flasgger
requests
packaging
jira
holidays
fuzzywuzzy
matplotlib
pytest
python-Levenshtein
pypdf
python-docx
odfpy
openpyxl
xlrd
xlwt
beautifulsoup4
Pillow
cryptography
PyJWT
prometheus-client
redis
psycopg[binary,pool]
